.actions {
  display: flex;
  justify-content: center;

  .copy-password-to-clipboard {
    padding: 0.5rem 0.75rem;
    border-radius: 6px;
    border: 1px solid #aaa;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #0175ff;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transition: filter 0.5s;

    &:hover {
      filter: brightness(130%);
    }
  }
}
